<footer>
    <div class="foot-info">
    <a href="#"><i class="fa-brands fa-facebook"></i></a>
    <a href="#"><i class="fa-brands fa-square-instagram"></i></a> 
    <a href="#"><i class="fa-brands fa-linkedin"></i> </a> 
         <p>&copy;Wanderlust Privacy limited</p>
         <p>Privacy</p>
         <p>Terms</p>
    </div>
</footer>