<% layout('layouts/boilerplate.ejs') -%>

<h3>Create a New Listing</h3>

<form method="POST" action="/listings">
    Title:<input type="text" name="listing[title]" placeholder="Write title here.."> <br>
    Description:<textarea name="listing[description]" placeholder="Write about your place here..."></textarea> <br>
    Image:<input type="text" name="listing[image][url]" placeholder="Enter image URL/link"> <br>
    Price:<input type="number" name="listing[price]" placeholder="Enter your price."> <br>
    Location:<input type="text" name="listing[location]"> <br>
    Country:<input type="text" name="listing[country]"> <br>
    <button>Add</button>
</form>
