<% layout('layouts/boilerplate.ejs') -%>


<div class="row">
    <div class="col-8 offset-2">
    <h3 style="color:#1ecbe1">Create a New Listing</h3>

    <form method="POST" action="/listings">
        <div class="mb-3">
            <label class="form-label" for="title">Title:</label>
            <input class="form-control"type="text" id="title" name="listing[title]" placeholder="Write title here..">
        </div>
        
    <div class="mb-3">
        <label class="form-label" for="desc">Description:</label>
        <textarea class="form-control" id="desc" name="listing[description]" placeholder="Write about your place here..."></textarea>
    </div>

    <div class="mb-3">
        <label for="img" class="form-label">Image:</label>
        <input id="img" type="text" class="form-control" name="listing[image][url]" placeholder="Enter image URL/link"> 
     </div>
     <div class="row">
        <div class="col-md-4">
            <div class="mb-3">
            <label for="price" class="form-label">Price:</label>
            <input class="form-control" id="price" type="number" name="listing[price]" placeholder="Enter your price."> 
            </div>
        </div>
        <div class="col-8">
            <div class="mb-3">
            <label class="form-label"for="locate">Location:</label>
            <input class="form-control" id="locate" type="text" name="listing[location]" placeholder="Location.."> 
            </div>
        </div>
     </div>
     
     <div class="mb-3">
        <label class="form-label" for="country" >Country:</label>
        <input class="form-control"id="country" type="text" name="listing[country]" placeholder="Country..">
     </div>
      <br>
    <button class="btn btn-primary">Add New Listing</button>
    </form>
    </div>
</div>
