.navbar {
    height:5rem;
}

.nav-link {
    color:#222222 !important;
}

 .tax {
    display:none;
} 
.tax-switch {
    border: 1px solid black;
    border-radius: 15px;
    display:flex;
    text-wrap: wrap;
    text-align:center;
    padding: 0.5rem;
    margin-top:1rem;
}
.utils {
    display:flex;
}

#filters {
    margin-left: 3rem;
    margin-top: 2rem;
    display:flex;
    flex-direction:row;
    text-align:center;
    column-gap:2rem;
}

.filters {
    opacity:0.6;
}
.filters:hover {
    opacity:1;
    color:#1ecbe1;
}

.filters p {
    font-size:1rem;
}

.tax-switch {
    width: fit-content;
    margin-left: auto;
    margin-right: 40px;
}
.form-check-input {
    cursor:pointer;
}

footer {
    text-align : center;
}
.sticky-bottom {
    position:fixed;
}

.f-info {
    background-color:#ebebeb;
    height:6rem;
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
}

.f-info-socials {
    width:100%;
    font-size:1.1rem;
}

.fa-brands {
    color:#222222;
}

.fa-brands:hover {
    color:#808080;
}

.container {
    display:grid;
    grid-template-rows:400px 400px 400px;
    row-gap:1px;
    grid-template-columns:1fr 1fr 1fr;
    column-gap:1px;
}

@media (min-width: 430px) and (max-width:1202px) {
    .listings-container {
        grid-template-columns:1fr 1fr;
    }
}

@media (max-width : 770px) {
    .listings-container {grid-template-columns:1fr;
    }
}
.listing-border {
    border:none !important;
}

 .listing-view-link {
    text-decoration: none;
    color:#e1341e;
}
div .form-control {
    border-radius:25px;
}
#search {
    margin-left:1rem;
    display:inline;
    display:flex;
    text-align: center;
    border-radius:25px;
    color:#ebebeb;
    opacity:0.95;
}

#search:hover {
    opacity:0.7;
}
#search i {
    display:inline;
    margin:auto;
    margin-right:5px;
    color:#ebebeb;

}

.card-img-overlay {
    color:transparent; 
 } 

.card-img-overlay:hover {
    background-color: white;
    opacity:0.2;
}

.btn-primary {
    background-color: #e1341e !important;
    border:none !important;
}

.btn-primary:hover {
    opacity:0.8 !important;
}

.nav-link {
    color:#222222!important;
}

.nav-link:hover {
    color:#1ecbe1 !important;
}

.show-img-style {
    width:100%;
    height:40vh;
    object-fit:cover;
}

.edit-link-style {
    text-decoration: none;
    color:#222222;
    font-weight: 500;
}

.edit-link-style:hover {
    color:#1ecbe1;
}
.review-container {
    display:flex;
    flex-wrap:wrap;
    flex-direction: row;
    row-gap: 2px;
    column-gap: 1px;
    flex:1;
}

.error img {
    height:200px;
    width:200px;
    position:relative;
    left:300px;
}
